@import '../../../../assets/css/variable.less';
@import '../../../../assets/css/mixins.less';

#studio-home {
    background-color: #fff;

    .intro-part {
        .main-part;
        margin-left: 30/@REM;
        margin-right: 30/@REM;
        .intro-text {
            font-size: 24/@REM;
            font-family: YH;
            line-height: 40/@REM;
            color: @EM_COLOR;
            text-align: justify;
        }
    }
}
