@import '../../../assets/css/variable.less';

#copyright-part {
    margin: 30/@REM;
    color: #969696;
    font-size: 18/@REM;
    line-height: 30/@REM;
    text-align: center;
    border-top: 1px solid @BORDER_COLOR;
    a {
        text-decoration: underline;
        color: #969696;
    }
    span {
        color: #fb5838;
        a {
            color: #fb5838;
        }
    }
}
