@import '../../../assets/css/variable.less';
@import '../../../assets/css/base.less';
#app-home {
    position: relative;
}
/*搜索框*/
.home-search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100/@REM;
    line-height: 100/@REM;
    text-align: center;
    background: linear-gradient(to bottom, rgba(26, 27, 32, 0.6) 0%, rgba(26, 27, 32, 0) 100%);
    .search-bar {
        position: absolute;
        background: transparent;
        height: 100/@REM;
        line-height: 100/@REM;
        border-bottom: none;
        .iconfont {
            color: #fff;
        }
        input {
            width: 100%;
            background: #fff;
        }
    }
    .search-bar .search-input {
        margin: 0 75/@REM;
        position: relative;
        .iconfont {
            color: #999;
            position: absolute;
            top: 50%;
            margin-top: -15/@REM;
            left: 20/@REM;
            z-index: 2;
            width: 30/@REM;
            height: 30/@REM;
            font-size: 30/@REM;
            line-height: 1;
        }
    }
    .search-bar .dropdown-panel {
        top: 77%;
        &:before {
            top: -9/@REM;
        }
    }
}
// 与其他页面共用的搜索
.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85/@REM;
    line-height: 85/@REM;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    .iconfont {
        position: absolute;
        top:50%;
        height: 100/@REM;
        margin-top: -50/@REM;
        width: 75/@REM;
        font-size: 30/@REM;
        cursor: pointer;
        color: #999;
        text-align: center;
        line-height: 100/@REM;
    }
    .search-back-btn {
        left: 0;
    }
    .search-toggle {
        right: 0;
        cursor: pointer;
        &:hover .dropdown-panel {
            display: block;
            -webkit-animation: dropDownFade 0.6s forwards;
            animation: dropDownFade 0.6s forwards;
        }
    }
    .search-input {
        display: block;
        .iconfont {
            color: #999;
            position: absolute;
            top: 50%;
            margin-top: -15/@REM;
            left: 20/@REM;
            z-index: 2;
            width: 30/@REM;
            height: 30/@REM;
            font-size: 30/@REM;
            line-height: 1;
        }
        .iconfont, input {
            vertical-align: middle;
        }
    }
    input[type="text"]{
        border: 0;
        outline: 0;
        height: 50/@REM;
        line-height: 50/@REM;
        font-size: 24/@REM;
        color: #777;
        width: 86%;
        padding-left: 65/@REM;
        border-radius: 25/@REM;
        position: relative;
        background: #f1f2f6;
    }
    .dropdown-panel {
        display: none;
        position: absolute;
        top: 82%;
        right: 20/@REM;
        width: 195/@REM;
        box-sizing: border-box;
        padding: 0 10/@REM;
        background: rgba(0, 0, 0, .8);
        border-radius: 3px;
        &:before {
            content: " ";
            position: absolute;
            top: -15/@REM;
            right: 10/@REM;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent rgba(0, 0, 0, .8) transparent;
        }
    }
    .dropdown-item {
        height: 60/@REM;
        line-height: 60/@REM;
        box-sizing: border-box;
        border-bottom: 1px solid #666;
        font-size: 24/@REM;
        color: #fff;
        width: 100%;
        display: block;
        &.home .iconfont {
            margin-left: -5/@REM;
        }
        .iconfont {
            width: 25/@REM;
            height: 25/@REM;
            font-size: 25/@REM;
            margin: 0 15/@REM;
            position: relative;
        }
    }
}

// 下拉列表
@keyframes dropDownFade {
    0% {
        opacity: 0;
        right: -100%;
    }
    100% {
        opacity: 1;
        right: 20/@REM;
    }
}

@-webkit-keyframes dropDownFade {
    0% {
        opacity: 0;
        right: -100%;
    }
    100% {
        opacity: 1;
        right: 20/@REM;
    }
}

#banner {
    height: 380/@REM;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#entrances {
    margin-top: -80/@REM;
    padding-top: 80/@REM;
    background-color: #fff;
    a {
        display: inline-block;
        margin-bottom: 40/@REM;
        width: 25%;
        text-align: center;
        font-size: 24/@REM;
        color: @MAIN_COLOR;
        i {
            display: block;
            margin: 0 auto;
            margin-bottom: 10/@REM;
            width: 60/@REM;
            height: 60/@REM;
            &.icon {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &.icon-art {
                background-image: url("../../../assets/images/icon/icon-art.png");
            }
            &.icon-sport {
                background-image: url("../../../assets/images/icon/icon-sport.png");
            }
            &.icon-abroad {
                background-image: url("../../../assets/images/icon/icon-abroad.png");
            }
            &.icon-child {
                background-image: url("../../../assets/images/icon/icon-child.png");
            }
            &.icon-middle-school {
                background-image: url("../../../assets/images/icon/icon-middle-school.png");
            }
            &.icon-hight-school {
                background-image: url("../../../assets/images/icon/icon-hight-school.png");
            }
            &.icon-language {
                background-image: url("../../../assets/images/icon/icon-language.png");
            }
            &.icon-skill {
                background-image: url("../../../assets/images/icon/icon-skill.png");
            }
        }
    }
}