@import 'variable.less';
.col-l() {
    float: left;
}

.col-r() {
    float: right;
}

.clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.scroll-view() {
    max-height: @max-height-scroll-view;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.main-part() {
    margin-top: 30/@REM;
    .main-title {
        position: relative;
        padding-bottom: 25/@REM;
        text-align: center;
        font-size: 14/@REM;
        font-family: YH;
        border-bottom: 1px solid @BORDER_COLOR;
        letter-spacing: 1px;
        &:after {
            @size: 55/@REM;
            @border-width: 20/@REM;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -@size/2;
            margin-bottom: -(@size - @border-width * 2)/2;
            content: '';
            width: @size;
            height: @size - @border-width * 2;
            background-color: @WARN_COLOR;
            border-left: @border-width solid #fff;
            border-right: @border-width solid #fff;
        }
        strong {
            display: block;
            font-size: 24/@REM;
            color: #000;
            line-height: 40/@REM;
            letter-spacing: 0;
        }
    }
}

@AVATAR_SIZE : 150/@REM;
@CARD_PADDING_SIZE : 30/@REM;
